$blue2: #0099cc;
$black: #000;
$blue: #00bfff;
$black40: rgba(0, 0, 0, 0.4);
$white: #fff;
$white50: rgba(255,255,255,0.5);
$white25: rgba(255,255,255,0.25);
$gray: #333;
$bg: $gray;
$primary: $white;
$secondary: $blue;
$secondary-hover: $blue2;
$button-shadow: $black40;

html{
	box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: $black;
	color: $primary;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

main {
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
	max-width: 768px;
	background-color: $bg;

	& > * {
		width: 100%;
	}
}

.hero {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	height: 40vh;
	min-height: 200px;
	padding: 1em;
	background-color: $white25;

	.album {
		height: 50%;
	}
	
	.title {
		margin: .5em 0;
		font-size: 2.5em;
	}

	.play {
		position: absolute;
		bottom: -1em;
		z-index: 2;
	}
}

.playlist {
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	height: 60vh;
	max-height: 60vh;
	overflow: scroll;
	margin: 0;
	padding-top: 2em;
	padding-left: 0;
	list-style: none;

	.item {
		display: flex;
		align-items: center;
		height: 15vh;
		padding: 0.75em;
		border-bottom: 1px solid $white50;

		& > * {
			height: 100%;
		}

		.info {
			position: relative;
			display: inline-flex;
			flex-flow: column nowrap;
			justify-content: center;
			width: 100%;
			margin-left: 0.75em;

			span {
				display: inline-block;
			}
			.title {
				font-size: 1.8em;
			}
			.artist {
				font-size: 1.2em;
			}
			.time {
				float: right;
				position: absolute;
				bottom: calc(60% - 18px);
				right: 0;
			}
		}
		
		&.ghost {
			background-color: $white25;
		}		
	}
}

.button {
	padding: .5em 2em;
	color: $primary;
	background-color: $secondary;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	&:hover {
		background-color: $secondary-hover;
		box-shadow: 0px 15px 20px $button-shadow;
		transform: translateY(-4px);
	}
}