html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* https://css-tricks.com/box-sizing/ */ }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0 auto;
  max-width: 768px;
  background-color: #333; }
  main > * {
    width: 100%; }

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
  min-height: 200px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.25); }
  .hero .album {
    height: 50%; }
  .hero .title {
    margin: .5em 0;
    font-size: 2.5em; }
  .hero .play {
    position: absolute;
    bottom: -1em;
    z-index: 2; }

.playlist {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  height: 60vh;
  max-height: 60vh;
  overflow: scroll;
  margin: 0;
  padding-top: 2em;
  padding-left: 0;
  list-style: none; }
  .playlist::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .playlist .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15vh;
    padding: 0.75em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: -webkit-grab;
    cursor: grab; }
    .playlist .item > * {
      height: 100%; }
    .playlist .item .drag-icon {
      height: 20px;
      margin-right: 0.75em; }
    .playlist .item .info {
      position: relative;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      margin-left: 0.75em; }
      .playlist .item .info span {
        display: inline-block; }
      .playlist .item .info .title {
        padding-rigt: 2em;
        font-size: 1.5em; }
      .playlist .item .info .artist {
        font-size: 1.1em; }
      .playlist .item .info .time {
        float: right;
        position: absolute;
        bottom: calc(60% - 18px);
        right: 0; }
    .playlist .item.ghost {
      background-color: rgba(255, 255, 255, 0.25); }

.button {
  padding: .5em 2em;
  color: #fff;
  background-color: #00bfff;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .button:hover {
    background-color: #0099cc;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); }
