html {
  box-sizing: border-box;
  /* https://css-tricks.com/box-sizing/ */ }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

main {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: 768px;
  background-color: #333; }
  main > * {
    width: 100%; }

.hero {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  min-height: 200px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.25); }
  .hero .album {
    height: 50%; }
  .hero .title {
    margin: .5em 0;
    font-size: 2.5em; }
  .hero .play {
    position: absolute;
    bottom: -1em;
    z-index: 2; }

.playlist {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  height: 60vh;
  max-height: 60vh;
  overflow: scroll;
  margin: 0;
  padding-top: 2em;
  padding-left: 0;
  list-style: none; }
  .playlist::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .playlist .item {
    display: flex;
    align-items: center;
    height: 15vh;
    padding: 0.75em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .playlist .item > * {
      height: 100%; }
    .playlist .item .info {
      position: relative;
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      width: 100%;
      margin-left: 0.75em; }
      .playlist .item .info span {
        display: inline-block; }
      .playlist .item .info .title {
        font-size: 1.8em; }
      .playlist .item .info .artist {
        font-size: 1.2em; }
      .playlist .item .info .time {
        float: right;
        position: absolute;
        bottom: calc(60% - 18px);
        right: 0; }
    .playlist .item.ghost {
      background-color: rgba(255, 255, 255, 0.25); }

.button {
  padding: .5em 2em;
  color: #fff;
  background-color: #00bfff;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s; }
  .button:hover {
    background-color: #0099cc;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-4px); }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0; }

  .hero {
    height: 40vw;
    min-height: 200px; }

  .playlist {
    height: 60vw;
    max-height: 60vw; } }
