$black: #1b1b1b;
$black90: rgba(0,0,0,.9);
$white: #fdfdfd;
$yellow: #fed32f;
$gray1: #323232;
$gray2: #8b8b8b;

$primary: $white;
$secondary: $yellow;
$tertiary: $gray1;
$quaternary: $gray2;
$bg: $black;
$bglightbox: $black90;

$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$header: $raleway;
$body: $montserrat;

$dataheight: 300px;
$dataheightmobile: 250px;

html {
	box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;
	font-family: $body;
	color: $primary;
	background: $bg;
}

header {
	margin-bottom: 2.5em;
	font-family: $header;

	.logo {
		margin: 0;
		color: $secondary;
		font-size: 5em;
		text-align: center;
	}

	.hamburger {
		display: none;
	}

	.genre-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		padding: .5em .5em 0;
		color: $primary;
		font-size: 1.5em;
		font-weight: 600;
		list-style: none;
		text-align: center;

		.genre-item {
			margin: 0 .5em .5em;
			cursor: pointer;

			&.is-selected {
				span {
					border-bottom: 5px solid $secondary;
				}
			}

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

main {
	flex: 0 1 100%;
	.movie-list {
		height: calc( 100% - #{$dataheight});
		list-style: none;
		max-height: 750px;

		&.is-empty {
			.flickity-viewport {
				display: flex;
				justify-content: center;
				align-items: center;

				&:after {
					content: "You don't have any favorites yet! Try adding some!";
				}
			}
		}

		.flickity-viewport {
			height: 100% !important;
		}

		.movie-item {
			display: flex;
			justify-content: center;
			height: 100%;
			margin: 0 2em;

			.movie-visual {
				border-radius: 10px;
			}

			.movie-fav {
				position: absolute;
				top: 2%;
				right: 2%;

				svg {
					width: 35px;
					height: 35px;

					.heart {
						fill: $primary;
						stroke: $secondary;
						stroke-width: 50;
					}

					&:hover {
						.heart {
							stroke-width: 75;
						}
					}
				}
			}

			.movie-play {
				position: absolute;
				bottom: 4%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;

				svg {
					width: 75px;
					height: 75px;
					border: 10px solid $bg;
					border-radius: 100%;

					&:hover {
						border: 8px solid $bg;
					}

					.bg {
						fill: $secondary;
					}

					.play {
						fill: $primary;
					}
				}
			}

			&.is-selected {
				top: 5%;
				opacity: 1;
				transition: top .3s ease-in, opacity .7s ease-in;
				.movie-visual {
					height: 92%;
				}
			}

			&:not(.is-selected) {
				top: 0;
				opacity: .3;
				.movie-visual {
					height: 90%;
				}
				.movie-play {
					display: none;
				}
			}

			&:not(.filter-active) {
				display: none;
			}

			&[data-fav=true] {
				.movie-fav {
					.heart {
						fill: $secondary;
					}
				}
			}
		}
	}
	.movie-data {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		width: 100%;
		height: $dataheight;
		text-align: center;

		&.is-hidden {
			visibility: hidden;
		}

		.movie-title {
			padding-top: 1em;
			font-family: $header;
			font-size: 2em;
			font-weight: 600;
		}

		.movie-simple-plot {
			display: flex;
			align-items: center;
			height: 4em;
			padding-top: 1em;
			font-size: 1em;			
		}

		.movie-info {
			padding-top: 1em;
			font-size: 1em;
			.movie-genres {
				padding: 0 1em;
				&:before, &:after {
					content: "•";
				}

				&:before {
					padding-right: 1em;
				}

				&:after {
					padding-left: 1em;
				}
			}
		}

		.buttons {
			padding-top: 2em;

			button {
				margin: 0 1.5em;
				padding: 0.75em 1.5em;
				border: 0;
				border-radius: 5px;
				background: $tertiary;
				color: $primary;
				font-family: $body;
				font-size: 1em;
				font-weight: bold;
				cursor: pointer;

				&:hover {
					background: $quaternary;
				}

				&:focus {
					outline-color: $secondary;
				}
			}
		}
	}

	.lightbox {
		position: fixed;
		display: none;
		justify-content: center;
		align-items: center;
		background: $bglightbox;

		&.is-active {
			display: flex;
		}

		.cross {
			position: absolute;
			top: 37px;
			right: 20px;
			display: block;
			cursor: pointer;

			.bar1, .bar2, {
				width: 35px;
				height: 5px;
				background-color: $secondary;
				margin: -5px 0;
				transition: transform .4s;
			}

			.bar1 {
				transform: rotate(-45deg);
			}

			.bar2 {
				transform: rotate(45deg);
			}
		}
	}

	.lightbox-video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		video {
			max-width: 100%;
			&:focus {
				outline-color: $secondary;
			}
		}
	}
}

@media (max-width: 500px) {
	header {
		.genre-list {
			height: 0;
			overflow: hidden;
		}

		.hamburger {
			position: absolute;
			top: 37px;
			right: 20px;
			display: block;
			height: 5em;
			cursor: pointer;

			.bar1, .bar2, .bar3 {
				width: 35px;
				height: 5px;
				background-color: $secondary;
				margin: 6px 0;
				transition: transform .4s;
			}

			&.is-active {
				.bar1 {
					transform: rotate(-45deg) translate(-8px, 6px);
				}

				.bar2 {
					opacity: 0;
				}

				.bar3 {
					transform: rotate(45deg) translate(-9px, -8px);
				}

				& + .genre-list {
					height: auto;
				}
			}
		}

		.genre-list {
			justify-content: flex-start;
			.genre-item {
				width: 50%;
				margin: 0;
				padding-bottom: .5em;
				font-size: .8em;
			}
		}
	}
	main {
		.movie-list {
			height: calc( 100% - #{$dataheightmobile});
			.movie-item {
				.movie-play {
					svg {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
		.movie-data {
			height: $dataheightmobile;

			.movie-title {
				font-size: 1.5em;
			}

			.movie-simple-plot {
				padding: 1em 1em 0;
				font-size: .8em;
			}

			.movie-info {
				font-size: .8em;
			}

			.buttons {
				button {
					font-size: .8em;
				}
			}
		}
	}
}

@media (max-width: 400px) {
	header {
		.logo {
			margin-top: .5em;
			font-size: 3em;
		}
	}
}