$black: #1b1b1b;
$white: #fdfdfd;
$yellow: #fed32f;
$gray1: #323232;
$gray2: #8b8b8b;

$primary: $white;
$secondary: $yellow;
$tertiary: $gray1;
$quaternary: $gray2;
$bg: $black;

$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$header: $raleway;
$body: $montserrat;

$dataheight: 200px;

html {
	box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;
	font-family: $body;
	color: $primary;
	background: $bg;
}

header {
	margin-bottom: 3em;
	font-family: $header;

	.logo {
		margin: 0;
		color: $secondary;
		font-size: 10vh;
		text-align: center;
	}

	.genre-list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		padding-top: .5em;
		color: $primary;
		font-size: 3vh;
		font-weight: 600;
		list-style: none;

		.genre-item {
			cursor: pointer;

			&.is-selected {
				border-bottom: 5px solid $secondary;
			}
		}
	}
}

main {
	flex: 0 1 100%;

	.movie-list {
		height: 100%;
		list-style: none;
		max-height: 750px;

		.flickity-viewport {
			height: 100% !important;
		}

		.movie-item {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			width: 22.5%;
			height: 100%;
			margin: 0 auto;

			.movie-visual {
				width: auto;
				max-width: 95%;
				height: calc(100% - #{$dataheight});
				border-radius: 10px;
			}

			.movie-data {
				position: absolute;
				bottom: 0;
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				width: 100vw;
				height: $dataheight;

				.movie-title {
					padding-top: 1em;
					font-family: $header;
					font-size: 2em;
					font-weight: 600;
				}

				.movie-info {
					padding-top: 1em;
					.movie-genres {
						padding: 0 1em;
						&:before, &:after {
							content: "•";
						}

						&:before {
							padding-right: 1em;
						}

						&:after {
							padding-left: 1em;
						}
					}
				}

				.buttons {
					padding-top: 2em;

					button {
						margin: 0 1.5em;
						padding: 0.75em 1.5em;
						border: 0;
						border-radius: 5px;
						background: $tertiary;
						color: $primary;
						font-family: $body;
						font-size: 1em;
						font-weight: bold;
						cursor: pointer;

						&:hover {
							background: $quaternary;
						}

						&:focus {
							outline-color: $secondary;
						}
					}
				}
			}

			&:not(.is-selected) {
				.movie-visual {
					width: auto;
					height: calc(90% - #{$dataheight});
					margin-top: 5%;
				}

				.movie-data {
					display: none;
				}
			}
		}
	}
}