$black: #000;
$black50: rgba(0,0,0,0.5);
$white: #fff;
$red: #db2121;
$blue: #2196F3;
$primary: $white;
$secondary: $red;
$tertiary: $blue;

$carouselmaxheight: 650px;
$border: 20px;
$photocaption: 60px;
$navheight: calc(65px + 2em);
$footerheight: 40px;
$dotwidth: 50px;

html{
	box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
	height: 100%;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: $black50;
	color: $primary;
	font-size: 16px;
	font-family: 'Indie Flower', cursive;
}

main {
	width: 100%;
	height: calc(100% - #{$footerheight});
}

.grid-container {
	width: 80%;
	height: calc(100% - 65px - 6em);
	margin: 2em auto;
	background: white;
	background: linear-gradient(90deg, rgba(150,150,150,1) 0%, rgba(102,102,102,1) 3%, rgba(255,255,255,1) 50%, rgba(102,102,102,1) 97%, rgba(150,150,150,1) 100%);
	box-shadow: $black50 0 1em 3em;

	&:before {
		background-color: $secondary;
		border-radius: 0.25em;
		bottom: -1em;
		content: '';
		left: -1em;
		position: absolute;
		right: -1em;
		top: -1em;
		z-index: -1;
	}

	&:after {
		background: linear-gradient(to right, transparent 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,transparent 100%);
		bottom: -1em;
		content: '';
		left: 50%;
		position: absolute;
		top: -1em;
		transform: translate(-50%,0);
		width: 4em;
		z-index: 1;
		// https://codepen.io/erinesullivan/pen/gxdbzp
	}

	.flickity-viewport {
		height: 100% !important;
	}

	.page {
		position: relative;
		overflow: hidden;
		display: grid;
		justify-items: center;
		align-items: center;
		width: 49.4%;
		height: 100%;
		padding: 1em;
		background: $white; /* fallback */

		&.is-selected {
			// https://codepen.io/leaverou/pen/raGaNR
			.dog-ear {
				position: absolute;
				top: 0;
			}

			&:nth-child(even) {
				background: linear-gradient(-155deg, rgba(0, 0, 0, 0) 1.5em, $white 0%);

				.dog-ear {
					right: 0;
					background: linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4)) 100% 0 no-repeat;
					width: 1.65507em;
					height: 3.5493em;
					transform: translateY(-1.89424em) rotate(-40deg);
					transform-origin: bottom right;
					box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.15);
				}

				&:hover {
					background: linear-gradient(-135deg, rgba(0, 0, 0, 0) 1.8em, $white 0%);
					.dog-ear {
						width: 2.54558em;
						height: 2.54558em;
						transform: translateY(0em) rotate(0deg);
					}
				}
			}

			&:nth-child(odd) {
				background: linear-gradient(155deg, rgba(0, 0, 0, 0) 1.5em, $white 0%);

				.dog-ear {
					left: 0;
					background: linear-gradient(to right bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4)) 100% 0 no-repeat;
					width: 1.65507em;
					height: 3.5493em;
					transform: translateY(-1.89424em) rotate(40deg);
					transform-origin: bottom left;
					box-shadow: 0.2em -0.2em 0.3em -0.1em rgba(0, 0, 0, 0.15);
				}

				&:hover {
					background: linear-gradient(135deg, rgba(0, 0, 0, 0) 1.8em, $white 0%);
					.dog-ear {
						width: 2.54558em;
						height: 2.54558em;
						transform: translateY(0em) rotate(0deg);
					}
				}
			}
		}
		
		&:not(.is-selected) {
			visibility: hidden;
		}
	}

	.page2by2 {
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		grid-gap: 0;
		grid-template-areas: "item1 item2" "item3 item4";

		.item-container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: auto;
    		height: 75%;

			&:nth-of-type(1) {
				grid-area: item1;
				.item {
					transform: rotate(-2deg);
				}
			}

			&:nth-of-type(2) {
				grid-area: item2; 
				.item {
					transform: rotate(1deg);
				}
			}

			&:nth-of-type(3) {
				grid-area: item3; 
				.item {
					transform: rotate(2deg);
				}
			}

			&:nth-of-type(4) {
				grid-area: item4; 
				.item {
					transform: rotate(-1deg);
				}
			}

			&:nth-of-type(1n+5) {
				display: none;
			}
		}
	}

	.item {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		height: 100%;

		&:not(.item-empty) {
			box-shadow: $black50 2px 2px 10px 1px;

			&:after {
				content: attr(title);
				position: absolute;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: $photocaption;
				background-color: $white;
				color: $black;
				font-size: 1.1em;
				text-align: center;
				border: 20px solid $white;
				border-top: 0;
				border-bottom: 0;
			}
		}

		&.item-empty {
			justify-content: center;
			transform: rotate(0) !important;
			border: 2px dashed $black;
      		border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      		// https://codepen.io/tmrDevelops/pen/VeRvKX
		}

		.photo {
			position: relative;
			height: calc(100% - #{$photocaption});
			padding: $border $border 0;
		}
	}
}

.controls {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	width: 80%;
	height: $navheight;
	margin: 0 auto;

	.toggle-container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;

		span {
			line-height: $navheight;
		}

		.toggle {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 35px;
			margin: 0 1em;

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 25px;
				background-color: $secondary;
				transition: .4s;

				&:before {
					position: absolute;
					content: "";
					height: 26px;
					width: 26px;
					left: 4px;
					bottom: 4px;
					border-radius: 100%;
					background-color: $primary;
					-webkit-transition: .4s;
					transition: .4s;
				}
			}

			& input {
				opacity: 0;
				width: 0;
				height: 0;

				&:checked + .slider:before {
					transform: translateX(26px);
				}
			}
		}
	}

	.dots {
		position: absolute;
		top: 5em;
		right: calc(10.5% - #{$dotwidth});
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		list-style: none;
		counter-reset: dots; 

		.dot {
			display: flex;
			justify-content: center;
			align-items: center;
			width: $dotwidth;
			height: 40px;
			margin: .5em 0;
			color: $primary;
			background-color: $tertiary;
			font-size: 2em;

			&:after {
				counter-increment: dots;
				content: counter(dots);
			}

			&.is-selected {
				width: calc(#{$dotwidth} + 20px);
			}
		}
	}
}

.credit {
	line-height: $footerheight;
}

a {
	color: $white;
}