$black: #000;
$white: #fff;
$primary: $white;

html{
	box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	overflow: hidden;
	margin: 0;
	background-color: $black;
	color: $primary;
	font-size: 16px;
	font-family: 'Indie Flower', cursive;
}

.carousel {
	margin: 0;
	padding: 2em 0;
	list-style: none;

	.item {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		height: 75%;
		margin: 0 3em;
		border-bottom: 90px solid $white;
		transform: rotate(-2deg);

		.photo {
			height: 100%;
			border: 20px solid $white;
			border-bottom: 0;
		}

		&:after {
			content: attr(title);
			color: $black;
			line-height: 90px;
			font-size: 1.3em;
		}
	}

	.item-container {	
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80vh;

		&:nth-child(even) {
			.item {
				transform: rotate(2deg);			
			}
		}

		&:nth-child(3n) {
			.item {
				transform: rotate(5deg);
			}
		}

		&:nth-child(4n) {
			.item {
				transform: rotate(-4deg);
			}
		}	
	}
}

.credit {
	padding-left: 2em;
}

p {
	margin: 0;
}

a {
	color: $white;
}