html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* https://css-tricks.com/box-sizing/ */
  height: 100%; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Indie Flower', cursive; }

main {
  width: 80%;
  height: calc(100% - 40px);
  padding-top: 1em; }

.navigation {
  height: 6%;
  padding-bottom: .5em; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-areas: "page1 page2";
  width: 100%;
  height: calc(100% - 6%); }
  .grid-container .page {
    display: grid;
    padding: 1em; }
  .grid-container .page2by2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
    grid-template-areas: "item1 item2" "item3 item4"; }
    .grid-container .page2by2 .item-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .grid-container .page2by2 .item-container:nth-of-type(1) {
        grid-area: item1; }
        .grid-container .page2by2 .item-container:nth-of-type(1) .item {
          -webkit-transform: rotate(-2deg);
                  transform: rotate(-2deg); }
      .grid-container .page2by2 .item-container:nth-of-type(2) {
        grid-area: item2; }
        .grid-container .page2by2 .item-container:nth-of-type(2) .item {
          -webkit-transform: rotate(1deg);
                  transform: rotate(1deg); }
      .grid-container .page2by2 .item-container:nth-of-type(3) {
        grid-area: item3; }
        .grid-container .page2by2 .item-container:nth-of-type(3) .item {
          -webkit-transform: rotate(2deg);
                  transform: rotate(2deg); }
      .grid-container .page2by2 .item-container:nth-of-type(4) {
        grid-area: item4; }
        .grid-container .page2by2 .item-container:nth-of-type(4) .item {
          -webkit-transform: rotate(-1deg);
                  transform: rotate(-1deg); }
  .grid-container .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    .grid-container .item .photo {
      width: 80%;
      border: 20px solid #fff;
      border-bottom: 0; }
    .grid-container .item:after {
      content: attr(title);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 80%;
      height: 60px;
      background-color: #fff;
      color: #000;
      font-size: 1.1em;
      text-align: center;
      background: #fff;
      border: 20px solid #fff;
      border-top: 0;
      border-bottom: 0; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .navigation .dots {
    padding: 0 2em;
    list-style: none;
    text-align: center;
    line-height: 1; }
  .navigation .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 100%;
    background-color: #fff; }

.credit {
  line-height: 40px; }

a {
  color: #fff; }
