$black: #000;
$white: #fff;
$primary: $white;

html{
	box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: hidden;
	margin: 0;
	background-color: $black;
	color: $primary;
	font-size: 16px;
	font-family: 'Indie Flower', cursive;
}

.carousel {
	max-height: 625px;
	margin: 0;
	padding: 2em 0;
	list-style: none;

	.flickity-viewport {
		overflow: visible;
	}

	.item {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 3em;
		transform: rotate(-2deg);

		.photo {
			width: 100%;
			border: 20px solid $white;
			border-bottom: 0;
		}

		&:after {
			content: attr(title);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 90px;
			background-color: $white;
			color: $black;
			font-size: 1.3em;
			text-align: center;
			background: $white;
			border: 20px solid $white;
			border-top: 0;
			border-bottom: 0;
		}
	}

	.item-container {	
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		&:nth-child(even) {
			.item {
				transform: rotate(2deg);			
			}
		}

		&:nth-child(3n) {
			.item {
				transform: rotate(5deg);
			}
		}

		&:nth-child(4n) {
			.item {
				transform: rotate(-4deg);
			}
		}	
	}
}

.navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	.dots {
		padding: 0 2em;
		list-style: none;
    	text-align: center;
    	line-height: 1;
	}
	.dot {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin: 0 5px;
		border-radius: 100%;
		background-color: $white;
	}
}

footer {
	position: absolute;
	top: 0;
}

.credit {
	width: 100vw;
	padding: .5em;
	text-align: center;
}

p {
	margin: 0;
}

a {
	color: $white;
}

@media (min-width: 415px) {
	.carousel {
		.item-container {
			width: 75%;
		}
	}
}

@media (min-width: 568px) {
	.carousel {
		.item-container {
			width: 60%;
		}
	}
}

@media (min-width: 768px) {
	.carousel {
		.item-container {
			width: 40%;
		}
	}
}

@media (min-width: 1024px) {
	.carousel {
		.item-container {
			width: 33%;
		}
	}
}