$black: #000;
$white: #fff;
$primary: $white;
$photowidth: 80%;
$navheight: 6%;

html{
	box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
	height: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: $black;
	color: $primary;
	font-size: 16px;
	font-family: 'Indie Flower', cursive;
}

main {
	width: 80%;
	height: calc(100% - 40px);
	padding-top: 1em;
}

.navigation {
	height: $navheight;
	padding-bottom: .5em;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0 5em;
	justify-content: center;
	grid-template-areas: "page1 page2";
	width: 100%;
	height: calc(100% - #{$navheight});

	.page {
		display: grid;
		padding: 1em;
	}

	.page2by2 {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 0;
		grid-template-areas: "item1 item2" "item3 item4";

		.item-container {
			display: flex;
			justify-content: center;
			align-items: center;

			&:nth-of-type(1) {
				grid-area: item1;
				.item {
					transform: rotate(-2deg);
				}
			}

			&:nth-of-type(2) {
				grid-area: item2; 
				.item {
					transform: rotate(1deg);
				}
			}

			&:nth-of-type(3) {
				grid-area: item3; 
				.item {
					transform: rotate(2deg);
				}
			}

			&:nth-of-type(4) {
				grid-area: item4; 
				.item {
					transform: rotate(-1deg);
				}
			}
		}
	}

	.item {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;

		.photo {
			width: $photowidth;
			border: 20px solid $white;
			border-bottom: 0;
		}

		&:after {
			content: attr(title);
			display: flex;
			align-items: center;
			justify-content: center;
			width: $photowidth;
			height: 60px;
			background-color: $white;
			color: $black;
			font-size: 1.1em;
			text-align: center;
			background: $white;
			border: 20px solid $white;
			border-top: 0;
			border-bottom: 0;
		}
	}
}

.navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	.dots {
		padding: 0 2em;
		list-style: none;
		text-align: center;
		line-height: 1;
	}
	.dot {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin: 0 5px;
		border-radius: 100%;
		background-color: $white;
	}
}

.credit {
	line-height: 40px;
}

a {
	color: $white;
}